html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Create a new flexbox and set the behaviour*/

article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Set the main section to grow to available space */

main {
    flex-grow: 1;
}

/* Stop these sections shrinking to fit */

header, main, footer {
    flex-shrink: 0;
}

header h1 {
    padding-left: 1%;
}

/* Style the navbar */
nav {
    display: flex;
    background-color: dimgray;
    align-items: center;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1%;
}

nav a:hover {
    background-color: black;

}

footer {
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px 2px 0px 0px #DDD;
    
}

footer p {
    padding: 1%;
}

main h1 {
    padding-left: 1%;
}




main form .flex-wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    border-radius: 3px;
}

ul .flex-wrapper {
    width: 100%;
    height: 100%;
}

.flex-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.flex-wrapper li {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding-top: 10px;
    
    
}

.form_row {
    justify-content: center;
    display: flex;

}




.flex-wrapper li p  {
    flex-grow: 0;
    flex-shrink: 0; 
    flex-basis: auto;


    align-self: center;
    max-width: 20%;
}
/* This has to only be on the children of li, otherwise it messes up the Gender row*/
.flex-wrapper > li > label {
    flex-grow: 1;
    flex-shrink: 0; 
    flex-basis: auto;
    max-width: 20%;

}

#male {
    padding-right: 40px;
}

.gender-row p {
    padding-right: 7%;
}

.flex-wrapper li .gender_buttons {
    
    flex-grow: 0;
    max-width: 20%;
    max-height: 20%;

    align-self: center;

    
}

#male_label {
    padding-left: 65%;
}







/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-bugs*/


  

@media screen and (max-width: 800px) {
    nav, main,.flex-wrapper {   
      flex-direction: column;
      flex-wrap:wrap; 
    }

    footer p {
        font-size: smaller;
    }
    #male_label {
        padding-left:0px;
    }
    

   .gender-row {
    height: 100%;
   }

   .gender-row * {
    height: 100%;
    width: 100%;
   }
    
   
   

}


  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    max-width: 10%;
    text-align: center;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }


  #profile_pic {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }


/***** Example custom styling *****/
.file_label {
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    flex-grow: 0;
}
.file_label:hover {
    background: #CCC;
}
.file_label:active {
    background: #CCF;
}
.file_label :invalid + span {
    color: #A44;
}
.file_label :valid + span {
    color: #4A4;
}


button {
    background-color: dimgray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
    box-shadow: 0 9px #999;
}

button:hover {
    color: dimgray;
    background-color: white;
    opacity: 1;
}

button:active {
    background-color: darkgray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

